<h3>Bienvenido a Mercado Libro. Estos son nuestros productos disponibles</h3>


<div ​ng-repeat="prod in listado">
  <!--<div class="card" style="width: 18rem;">
    <img src="{{prod.images}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{prod.precio}}</h5>
      <p class="card-text">{{prod.description}}</p>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div>
  </div>-->
  
</div>
<ul class="list-inline">
  <li class="list-inline-item" ng-repeat="prod in listado">
    <div class="card" style="width: 18rem; ">
      <img src={{prod.images}} class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">$ {{prod.precio}}</h5>
        <h5 class="card-title">{{prod.tittle}}</h5>
        <h5 class="card-text">{{prod.description}}</h5>
        <!--<a href="#" class="btn btn-primary" ng-click="_comprar()"></a>Comprar</a>-->
        <button type="submit"  ng-click="_comprar(prod)" class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </li>
</ul>
